*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pppins', sans-serif;
}
body{
    height: 100vh;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .order-card{
    width: 350px;
    height: 35.5rem;
    text-align: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 11px;
}
.container .order-card .order-profile{
    width: 350px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.container .order-card .order-sum{
    padding-top: 2rem;
    font-weight: 800;
}
.container .order-card p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 1rem;
    color: hsl(224, 23%, 55%);
}
.container .order-card .flex-group{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color:hsl(240, 36%, 95%) ;
    margin: 0px 35px;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.container .order-card .flex-group img{

}
.container .order-card .flex-group .plan-type{
    display: block;
    line-height: 1.4;
    margin-left: -2rem;
}
.container .order-card .flex-group .plan-type .order-plan{
    font-weight: 700;
}
.container .order-card .flex-group .plan-type .order-price{
    font-size: 15px;
}
.container .order-card .flex-group a{
    color: hsl(245, 75%, 52%);
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}
.container .order-card .flex-group a:hover{
    text-decoration: none;
    cursor: pointer;
    color: hsl(224, 23%, 55%);
}
.container .order-card .buttons{
    display: flex;
    flex-direction: column;
}
.container .order-card .buttons .pay-btn{
    background-color:hsl(245, 75%, 52%); 
    box-shadow: 1px 10px 10px 1px hsl(245, 75%, 90%);
    color: #fff;
    margin: 0px 40px;
    padding: 10px 0px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.container .order-card .buttons .pay-btn:hover{
    cursor: pointer;
    background-color: rgb(96, 66, 244);
}
.container .order-card .buttons .btn{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
}
.container .order-card .buttons .btn:hover{
    color: black;
    cursor: pointer;
}


@media screen and (max-width:800px){
    body{
        background-image: none;
    }
}


